.weather-display {
  text-align: center;
}

.weather-card {
  padding: 20px;
  background: #ececec;
  margin-bottom: 20px;
  border-radius: 8px;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.forecast-card {
  background: #ececec;
  padding: 10px;
  border-radius: 8px;
}